##package ${package.Mapper};

##import ${package.Entity}.${entity};
##import ${superMapperClassPackage};
package com.secondhand.tradingplatformadminmapper.mapper;

import com.secondhand.tradingplatformadminentity.entity.${entity};
import com.secondhand.tradingplatformcommon.base.BaseDao.BaseDao;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Select;
import org.springframework.stereotype.Repository;
import com.baomidou.mybatisplus.plugins.Page;

import java.util.List;
import java.util.Map;

/**
 *   @description : ${entity}Mapper 接口
 *   ---------------------------------
 * 	 @author ${author}
 *   @since ${date}
 */
@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

    /**
     * 根据id进行假删除
     * @param ${table.entityPath}Id
     * @return
     */
    boolean fakeDeleteById(@Param("${table.entityPath}Id") Long ${table.entityPath}Id);

    /**
     * 批量假删除
     * @param ${table.entityPath}Ids
     * @return
     */
    boolean fakeBatchDelete(@Param("${table.entityPath}Ids") List<Long> ${table.entityPath}Ids);

    /**
     * 获取Map数据（Obj）
     * 自定化MapSql到MysqlGenerator生成
     * @param ${table.entityPath}Id
     * @return
     */
    @Select("select * from ${table.name} where id = #{${table.entityPath}Id}")
    Map<String, Object> selectMapById(@Param("${table.entityPath}Id") Long ${table.entityPath}Id);
}