##package ${package.ServiceImpl};
##
##import ${package.Entity}.${entity};
##import ${package.Mapper}.${table.mapperName};
##import ${package.Service}.${table.serviceName};
package com.secondhand.tradingplatformadmincontroller.serviceimpl;

import com.secondhand.tradingplatformadminentity.entity.${entity};
import com.secondhand.tradingplatformadminmapper.mapper.${entity}Mapper;
import com.secondhand.tradingplatformadminservice.service.${entity}Service;
import ${superServiceImplClassPackage};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;
import java.util.Map;

/**
 *   @description : ${entity} 服务实现类
 *   ---------------------------------
 * 	 @author ${author}
 *   @since ${date}
 */

@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Autowired
    private ${entity}Mapper ${table.entityPath}Mapper;

    @Override
    public boolean fakeDeleteById(Long ${table.entityPath}Id) {
        ${entity} ${table.entityPath} = new ${entity}();
        ${table.entityPath}.setId(${table.entityPath}Id);
        ${table.entityPath}.setDeleted(true);
        return ${table.entityPath}Mapper.updateById(${table.entityPath});
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public boolean fakeBatchDelete(List<Long> ${table.entityPath}Ids) {
        for (Long ${table.entityPath}Id : ${table.entityPath}Ids){
            fakeDeleteById(${table.entityPath}Id);
        }
        return true;
    }

    @Override
    public Map<String, Object> selectMapById(Long ${table.entityPath}Id) {
        return ${table.entityPath}Mapper.selectMapById(${table.entityPath}Id);
    }

    @Override
    public ${entity} ${table.entityPath}CreateUpdate(${entity} ${table.entityPath}) {
        Long ${table.entityPath}Id = ${table.entityPath}.getId();
        if (${table.entityPath}Id == null){
            ${table.entityPath}Mapper.insert(${table.entityPath});
        } else {
            ${table.entityPath}Mapper.updateById(${table.entityPath});
        }
        return ${table.entityPath};
    }
}
