* {
    margin: 0;
    padding: 0;
}
@media (max-width: 1920px) {
    .panoramic-hall{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 1350px;
        min-height: 759px;
        max-width: 1920px;
        max-height: 1080px;
        background: rgba(0,0,0,.2);
    }
}
@media (min-width: 1921px) {
    .panoramic-hall{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1920px;
        height: 1080px;
        background: rgba(0,0,0,.2);
    }
}
.panoramic-hall ul[class$="-list"]{
    list-style: none;
    padding: 0;
    margin: 0;
}
.panoramic-hall button[class$="-btn"]{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    cursor: pointer;
}
/*加载页*/
.panoramic-hall-loading{
    display: none;
    width: 100%;
    height: 100%;
    background: #0db5fb;
}
/*内容页*/
.panoramic-hall-content-area{
    width: 100%;
    height: 100%;
}
/*内容列表*/
.panoramic-hall-content-module-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.panoramic-hall-content-module-item{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.panoramic-hall-content-module-item-btn-div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    padding: 0 10px;
    min-width: 121px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: rgba(0,0,0,.5);
    border-radius: 8px;
}
.panoramic-hall-content-module-item-btn-tip{
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
}
.panoramic-hall-content-module-item-btn{
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left: -27px;
    width: 54px;
    height: 54px;
    border-radius: 27px;
    border:3px solid #fff;
    background: transparent;
}
.panoramic-hall-content-module-item-btn div{
    position: relative;
    left: 50%;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    text-align: center;
    line-height: 44px;
    background: #fff;
}
.panoramic-hall-content-module-item-btn div:before{
    font-size: 18px;
    color: #0db5fb;
}
.panoramic-hall-content-module-item-btn div.icon-yingyinshiting_s:before{
    font-size: 30px;
}
.panoramic-hall-content-module-item-btn[name="guide"] {
    width: 71px;
    height: 97px;
    border: none;
    background: url("/static/front/assets/image/guide.png");
}
/*右上功能区*/
.panoramic-hall-content-right-top-fuc-area{
    position: absolute;
    top: 11.7%;
    right: 10px;
    margin: auto;
    width: 41px;
    height: auto;
}
.panoramic-hall-content-right-top-fuc-btn-list{
    width: 100%;
    height: 198px;
}
.panoramic-hall-content-right-top-fuc-btn-item {
    margin-bottom: 11px;
    width: 41px;
    height: 41px;
}
.panoramic-hall-content-right-top-fuc-btn-item:last-child{
    margin-bottom: 0;
}
.panoramic-hall-content-right-top-fuc-btn {
    width: 41px;
    height: 41px;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    line-height: 41px;
    text-align: center;
}
.panoramic-hall-content-right-top-fuc-btn:before{
    font-size: 18px;
    color: #fff;
}
.panoramic-hall-content-right-top-fuc-btn-item .icon-yanjing:before{
    font-size: 25px;
}
.panoramic-hall-content-right-top-fuc-btn-item .icon-liaotian:before{
    font-size: 25px;
}
.panoramic-hall-content-right-top-fuc-btn-item .icon-vr:before{
    font-size: 30px;
}
/*左下功能区*/
.panoramic-hall-content-left-fuc-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 27px 60px;
    width: 420px;
    height: 147px;
    overflow: hidden;
}
.panoramic-hall-content-left-fuc-btn-list{
    width: 100%;
    height: 100%;
}
.panoramic-hall-content-left-fuc-btn-item {
    float: left;
    margin-right: 66px;
    width: 56px;
    height: 100%;
}
.panoramic-hall-content-left-fuc-btn-item:last-child{
    margin-right: 0;
}
.panoramic-hall-content-left-fuc-btn{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background: #fff;
    text-align: center;
    line-height: 56px;
    opacity: .8;
}
.panoramic-hall-content-left-fuc-btn:before{
    font-size: 30px;
    color: #555;
}
.panoramic-hall-content-left-fuc-btn-tip {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 15px;
    margin-left: -210px;
    width: 420px;
    text-align: center;
    font-size: 17px;
    color: #f0f0f0;
}

/*右下功能区*/
.panoramic-hall-content-right-fuc-area{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 27px 60px;
    width: 420px;
    height: 147px;
    overflow: hidden;
}
.panoramic-hall-content-right-fuc-btn-list{
    width: 100%;
    height: 100%;
}
.panoramic-hall-content-right-fuc-btn-item {
    float: left;
    margin-right: 66px;
    width: 56px;
    height: 100%;
}
.panoramic-hall-content-right-fuc-btn-item:last-child{
    margin-right: 0;
}
.panoramic-hall-content-right-fuc-btn{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    text-align: center;
    line-height: 56px;
    background: #fff;
    opacity: .8;
}
.panoramic-hall-content-right-fuc-btn:before{
    font-size: 30px;
    color: #555;
}
.panoramic-hall-content-right-fuc-btn-tip {
    display: inline-block;
    position: relative;
    left: 50%;
    margin-top: 15px;
    margin-left: -210px;
    width: 420px;
    text-align: center;
    font-size: 17px;
    color: #fff;
}

