<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformadminmapper.mapper.admin.shiro.RoleButtonMapper">

    <cache type="com.secondhand.tradingplatformcommon.redisCache.RedisCache"></cache>

		<!-- 通用查询映射结果 -->
			<resultMap id="roleButtonMap" type="com.secondhand.tradingplatformadminentity.entity.admin.shiro.RoleButton" extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">
													<result column="button_id" property="buttonId" jdbcType="INTEGER" />

		</resultMap>

        <!-- 通用查询映射结果 -->
		<resultMap id="roleButtonMapSimple" type="com.secondhand.tradingplatformadminentity.entity.admin.shiro.RoleButton">
																			                        <result column="button_id" property="buttonId" jdbcType="INTEGER" />

        </resultMap>

    <select id="selectMapById" resultType="java.util.Map">
        select * from s_base_role_button where id = #{roleButtonId} and deleted = false
    </select>

</mapper>