<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformadminmapper.mapper.admin.shiro.UserRoleMapper">

    <cache type="com.secondhand.tradingplatformcommon.redisCache.RedisCache"></cache>

    <!-- 通用查询映射结果 -->
    <resultMap id="userRoleMap" type="com.secondhand.tradingplatformadminentity.entity.admin.shiro.UserRole"
               extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>

    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="userRoleMapSimple" type="com.secondhand.tradingplatformadminentity.entity.admin.shiro.UserRole">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>

    </resultMap>

    <select id="selectMapById" resultType="java.util.Map">
        select * from s_base_user_role where id = #{userRoleId} and deleted = false
    </select>

</mapper>