p {
    margin: 0;
}

.service-text-card {
    display: block;
    width: 270px;
    height: 120px;
    background-color: #ffffff;
    padding: 0 15px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

.service-text-card .title {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: inset 0px -1px 0px 0px #dcdcdc;
}

.service-text-card .result-area {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #646464;
}

.service-text-card .desc {
    height: 60px;
    line-height: 30px;
    font-size: 14px;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.service-text-card .bottom {
    line-height: 40px;
    font-size: 14px;
    color: #646464;
    overflow: hidden;
    text-align: center;
}

.service-text-card .bottom .time {
    float: left;
    color: #c81414;
    font-size: 18px;
}

.service-text-card .bottom .click-count-area {
    float: right;
}

.service-text-card .bottom .click-count-area .click-count {
    color: #c81414;
}

.service-text-card label {
    font-weight: normal;
}

.service-text-card .provider-area {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #666666;
}

.service-text-card .provider-area .provider-data {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 175px;
    vertical-align: top;
}

.service-text-card .time-area {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
}

/*复用*/
.service-text-card:nth-of-type(2n) {
    background-color: #fafafa;
}