.clearfix {
    overflow: hidden;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.number-model {
    width: 100%;
}

.number-model .number-container {
    width: 1170px;
    margin: 0 auto;
}

.number-model .number-container .number-top {
    height: 60px;
    line-height: 40px;
    padding: 10px 0;
    box-sizing: border-box;
}

.number-model .number-container .number-top .number-label {
    width: 250px;
    height: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #323232;
}

/*八大分类*/
.number-model .number-container .number-top .type-body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    left: 50px;
    width: 800px;
    height: 100%;
    padding: 0 50px;
    overflow: hidden;
}

.number-model .number-container .number-top .type-body .left-btn,
.number-model .number-container .number-top .type-body .right-btn {
    position: absolute;
    top: 0;
    margin: auto;
    width: 50px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    z-index: 1;
}

.number-model .number-container .number-top .type-body .left-btn {
    left: 0;
}

.number-model .number-container .number-top .type-body .right-btn {
    right: 0;
}

.number-model .number-container .number-top .type-body .right-btn:before {
    font-size: 18px;
    color: #9e9e9e;
}

.number-model .number-container .number-top .type-body .left-btn:before {
    font-size: 22px;
    color: #9e9e9e;
}

/*八大分类（end）*/
.number-model .number-container .number-top .number-more-btn {
    width: 80px;
    height: 100%;
    font-size: 16px;
    color: #646464;
    text-align: right;
}

.number-model .number-container .number-bottom {
    padding-bottom: 30px;
}

.number-model .number-container .number-bottom .number-left-img {
    width: 290px;
    height: 500px;
    background: url("/static/front/assets/image/home-number-bg.jpg") no-repeat;
    background-size: 290px 500px;
}

.number-model .number-container .number-bottom .number-bottom-right {
    margin-left: 20px;
    width: 860px;
    height: 500px;
    background-color: #fff;
    position: relative;
}

.number-model .number-container .number-bottom .number-bottom-right ul.number-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    list-style: none;
}

.number-model .number-content .number-content-item {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.number-model .number-content .number-content-item-none {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 10;
}

.number-model .number-content .number-content-item div[class*="number-picture-"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 50%;
    overflow: hidden;
}

.number-model .number-content .number-content-item .number-picture-big {
    width: 50%;
}

.number-model .number-content .number-content-item .number-picture-small {
    width: 25%;
}

.number-model .number-content .number-content-item div[class*="number-picture-"] .number-picture {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 110%;
}

.number-model .number-content .number-content-item .number-hall-entrance {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    min-width: 25%;
    max-width: 100%;
    height: 50%;
    background: #0066cc;
    text-align: center;
    overflow: hidden;
}

.number-model .number-content .number-hall-entrance-content {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -77px;
    width: 155px;
    min-height: 120px;
    max-height: 170px;
    text-align: left;
}

.number-model .number-content p[class*="number-hall-entrance-"] {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
    color: #ffffff;
    text-align: left;
}

.number-model .number-content .number-hall-entrance-title {
    padding: 10px 0;
    font-size: 18px;
    border-bottom: 1px solid #ffffff;
}

.number-model .number-content p.number-hall-entrance-en {
    display: inherit;
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
}

.number-model .number-content .number-hall-entrance-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    margin: auto;
    width: 154px;
    height: 37px;
    padding-bottom: 20px;
    background: transparent;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

.number-model .number-bottom-right .number-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 500px;
    background: rgba(255, 255, 255, 0.8);
}

/*
.number-model .number-container .number-bottom .number-bottom-right ul.number-content {
    position: absolute;
    height: 500px;
    list-style: none;
}
.number-model ul.number-content li.number-content-item {
    width: 880px;
    height: 100%;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content {
    width: 100%;
    height: 100%;
    list-style: none;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item {
    width: 200px;
    margin-left: 20px;
    position: relative;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item .number-item-content {
    display: block;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item:nth-of-type(n + 5) {
    margin-top: 12px;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item img.number-img {
    width: 200px;
    height: 200px;
    border: solid 10px rgba(220, 220, 220, 0.83);
    filter: alpha(opacity: 83);
    opacity: 0.83;
    box-sizing: border-box;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item .number-title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #4b4b4b;
    text-align: center;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item:hover .number-title {
    color: #e11a1a;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item .industry-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: rgba(0, 102, 204, 0.4);
    border-radius: 10px;
    filter: alpha(opacity: 0);
    opacity: 0;
    font-size: 0px;
    color: #ffffff;
    text-align: center;
}
.number-model ul.number-content li.number-content-item ul.number-content-item-content li.number-item .industry-area .industry-item {
    height: 22px;
    line-height: 22px;
}*/
