<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformadminmapper.mapper.front.article.RentingHouse.RentingHouseMapper">

    <cache type="com.secondhand.tradingplatformcommon.redisCache.RedisCache"></cache>

    <!-- 通用查询映射结果 -->
    <resultMap id="rentingHouseMap" type="com.secondhand.tradingplatformadminentity.entity.front.article.RentingHouse.RentingHouse"
               extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">

        <result column="back_check_status" property="backCheckStatus" jdbcType="INTEGER"/>
        <result column="not_pass_reason" property="notPassReason" jdbcType="VARCHAR"/>
        <result column="back_check_time" property="backCheckTime" jdbcType="DATE"/>
        <result column="details" property="details" jdbcType="VARCHAR"/>
        <result column="classification" property="classification" jdbcType="INTEGER"/>
        <result column="matching" property="matching" jdbcType="INTEGER"/>
        <result column="community" property="community" jdbcType="VARCHAR"/>
        <result column="genre" property="genre" jdbcType="VARCHAR"/>
        <result column="decoration" property="decoration" jdbcType="VARCHAR"/>
        <result column="floor_layer" property="floorLayer" jdbcType="VARCHAR"/>
        <result column="oriented" property="oriented" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="INTEGER"/>
        <result column="house_type" property="houseType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="comment_num" property="commentNum" jdbcType="INTEGER"/>
        <result column="star" property="star" jdbcType="FLOAT"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
        <result column="cover" property="cover" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>

    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="rentingHouseMapSimple"
               type="com.secondhand.tradingplatformadminentity.entity.front.article.RentingHouse.RentingHouse">

        <result column="back_check_status" property="backCheckStatus" jdbcType="INTEGER"/>
        <result column="not_pass_reason" property="notPassReason" jdbcType="VARCHAR"/>
        <result column="back_check_time" property="backCheckTime" jdbcType="DATE"/>
        <result column="details" property="details" jdbcType="VARCHAR"/>
        <result column="classification" property="classification" jdbcType="INTEGER"/>
        <result column="matching" property="matching" jdbcType="INTEGER"/>
        <result column="community" property="community" jdbcType="VARCHAR"/>
        <result column="genre" property="genre" jdbcType="VARCHAR"/>
        <result column="decoration" property="decoration" jdbcType="VARCHAR"/>
        <result column="floor_layer" property="floorLayer" jdbcType="VARCHAR"/>
        <result column="oriented" property="oriented" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="INTEGER"/>
        <result column="house_type" property="houseType" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="comment_num" property="commentNum" jdbcType="INTEGER"/>
        <result column="star" property="star" jdbcType="FLOAT"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
        <result column="cover" property="cover" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="selectMapById" resultType="java.util.Map">
        SELECT
        cbrh.id,
        cbrh.uuid,
        cbrh.back_check_status,
        cbrh.not_pass_reason,
        cbrh.back_check_time,
        cbrh.details,
        cbrh.classification,
        cbrh.matching,
        cbrh.community,
        cbrh.genre,
        cbrh.decoration,
        cbrh.floor_layer,
        cbrh.oriented,
        cbrh.area,
        cbrh.house_type,
        ( SELECT concat( '{"id":"', sbu.id, '","user_name":"', sbu.user_name, '","phone":"', IFNULL(sbu.phone,''), '"}' )
        FROM s_base_user sbu WHERE (sbu.id = cbrh.user_id) ) AS user_id,
        cbrh.comment_num,
        cbrh.star,
        cbrh.price,
        cbrh.cover,
        cbrh.title,
        cbrh.description,
        cbrh.deleted,
        cbrh.created_by,
        cbrh.created_at,
        cbrh.updated_by,
        cbrh.updated_at
        from c_business_renting_house cbrh where cbrh.id = #{rentingHouseId} and cbrh.deleted = false
    </select>

</mapper>