<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformadminmapper.mapper.shiro.RoleResourcesMapper">

    <cache type="com.secondhand.tradingplatformcommon.redisCache.RedisCache"></cache>

		<!-- 通用查询映射结果 -->
			<resultMap id="roleResourcesMap" type="com.secondhand.tradingplatformadminentity.entity.shiro.RoleResources" extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">
													<result column="role_id" property="roleId" jdbcType="INTEGER" />
													<result column="resources_id" property="resourcesId" jdbcType="INTEGER" />

		</resultMap>

        <!-- 通用查询映射结果 -->
		<resultMap id="roleResourcesMapSimple" type="com.secondhand.tradingplatformadminentity.entity.shiro.RoleResources">
																			                        <result column="role_id" property="roleId" jdbcType="INTEGER" />
																			                        <result column="resources_id" property="resourcesId" jdbcType="INTEGER" />
        </resultMap>

    <select id="selectMapById" resultType="java.util.Map">
        select * from s_base_role_resources where id = #{roleResourcesId} and deleted = false
    </select>


</mapper>