* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
}

button {
    border: 0;
    outline: 0;
}

.address-area {
    background-color: #efefef;
}

.address-content {
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #4b4b4b;
}

.address-area a {
    color: #4b4b4b;
}

.number-hall-detail {
    background-color: #fff;
}

.product-contact-nav-area, .detail-container {
    width: 1170px;
    margin: 0 auto;
}

.product-container {
    min-height: 690px;
}

.hall-product-model {
    height: 100%;
}

/* 导航栏 */
.product-contact-nav-list {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #aaaaaa;
}

.product-contact-nav-list .product-contact-nav-item {
    float: left;
    width: 150px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.product-contact-nav-list .active {
    height: 49px;
    border-bottom: 2px solid #0066cc;
}

.product-contact-nav-list .product-contact-nav-item:hover {
    height: 49px;
    border-bottom: 2px solid #0066cc;
}

/* 产品区 */
.number-hall-detail .head-area {
    width: 100%;
    height: 110px;
    padding: 25px 0 15px 0;
    box-sizing: border-box;
    text-align: center;
}

.number-hall-detail .head-area .title-ch {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #4b4b4b;
}

.number-hall-detail .head-area .title-ch::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 162px;
    height: 6px;
    border-top: 1px solid #989898;
    border-bottom: 1px solid #989898;
    transform: skew(135deg);
    -moz-transform: skew(135deg);
    -webkit-transform: skew(135deg);
    margin-right: 20px;
}

.number-hall-detail .head-area .title-ch::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 162px;
    height: 6px;
    border-top: 1px solid #989898;
    border-bottom: 1px solid #989898;
    transform: skew(45deg);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    margin-left: 20px;
}

.number-hall-detail .head-area .title-en {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #4b4b4b;
    margin-top: 5px;
}

.number-hall-detail-content {
    padding-bottom: 20px;
}

.number-hall-detail .content-container {
    padding-top: 10px;
}

.number-hall-detail .content-detail-top {
    height: 508px;
    overflow: hidden;
}

.number-hall-detail .big-pic {
    float: left;
    width: 804px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.number-hall-detail .big-pic li {
    width: 804px;
    height: 508px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.number-hall-detail .big-pic li img {
    width: 100%;
    height: 100%;
}

.number-hall-detail .big-pic .img-title {
    width: 804px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.41);
    opacity: 0.41;
    filter: alpha(opacity:41);
    position: absolute;
    bottom: 0;
    left: 0;
}

.number-hall-detail .detail-info {
    float: left;
    width: 300px;
    height: 508px;
    margin-left: 40px;
    font-size: 16px;
    line-height: 30px;
    color: #4b4b4b;
}

.number-hall-detail .content-detail-bottom {
    height: 150px;
    margin-top: 40px;
}

.number-hall-detail .small-pic-area {
    display: inline-block;
    vertical-align: top;
    width: 804px;
    height: 150px;
    position: relative;
}

.number-hall-detail .small-pic {
    width: 804px;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.number-hall-detail .orderBtn {
    width: 34px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-top: -42px;
    background-color: #0099b5;
    overflow: visible;
    cursor: pointer;
}

.number-hall-detail .prev {
    position: absolute;
    left: -52px;
    top: 50%;
}

.number-hall-detail .next {
    position: absolute;
    right: -52px;
    top: 50%;
}

.number-hall-detail .orderBtn i:before {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.number-hall-detail .small-pic ul {
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.number-hall-detail .small-pic li {
    width: 186px;
    height: 150px;
    float: left;
    padding-right: 20px;
    box-sizing: content-box;
    background: transparent;
    cursor: pointer;
    filter: alpha(opacity:60);
    opacity: 0.6;
}

.number-hall-detail .small-pic img {
    width: 100%;
    height: 110px;
}

.number-hall-detail .small-pic .img-title {
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.button-area {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    width: 300px;
    height: 110px;
    line-height: 110px;
    text-align: center;
}

.button-area .vr-button {
    display: inline-block;
    width: 183px;
    height: 62px;
    line-height: 62px;
    background-color: #0066cc;
    box-shadow: 4px 4px 0px 0px #0099b5;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
}

.number-hall-product-area {
    background-color: #f6f6f6;
}

.more-btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #585858;
    font-size: 15px;
}

.product-content {
    position: relative;
    height: 580px;
    overflow: hidden;
}

.product-content .content-none {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -100px;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}

.product-item {
    float: left;
    width: 260px;
    height: 250px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.product-item:nth-of-type(4n) {
    margin-right: 0;
}

.detail-contact-model {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.detail-contact-model > p[class*="hall-"] {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail-contact-model .hall-address-plugin-area {
    width: 100%;
    height: auto;
    min-height: 500px;
    overflow: hidden
}
