<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformadminmapper.mapper.front.article.ElectricApplianceOrderMapper">

    <cache type="com.secondhand.tradingplatformcommon.redisCache.RedisCache"></cache>

		<!-- 通用查询映射结果 -->
		<resultMap id="electricApplianceOrderMap" type="com.secondhand.tradingplatformadminentity.entity.front.article.ElectricApplianceOrder" extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">


				<result column="order_status" property="orderStatus" jdbcType="INTEGER" />
				<result column="quantity" property="quantity" jdbcType="INTEGER" />
				<result column="price" property="price" jdbcType="FLOAT" />
				<result column="electric_id" property="electricId" jdbcType="INTEGER" />
				<result column="user_id" property="userId" jdbcType="INTEGER" />






		</resultMap>

        <!-- 通用查询映射结果 -->
		<resultMap id="electricApplianceOrderMapSimple" type="com.secondhand.tradingplatformadminentity.entity.front.article.ElectricApplianceOrder">


                        <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
                        <result column="quantity" property="quantity" jdbcType="INTEGER" />
                        <result column="price" property="price" jdbcType="FLOAT" />
                        <result column="electric_id" property="electricId" jdbcType="INTEGER" />
                        <result column="user_id" property="userId" jdbcType="INTEGER" />






        </resultMap>

    <select id="selectMapById" resultType="java.util.Map">
        select * from c_business_electric_appliance_order where id = #{electricApplianceOrderId} and deleted = false
    </select>

</mapper>