<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformgenerator.example.mapper.UserMapper">
    <resultMap id="userMap" type="com.secondhand.tradingplatformgenerator.example.entity.User"
               extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">
        <result column="avatar" property="avatar" jdbcType="VARCHAR"></result>
        <result column="account" property="account" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="salt" property="salt" jdbcType="VARCHAR"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="birthday" property="birthday" jdbcType="DATETIME"></result>
        <result column="sex" property="sex" jdbcType="INTEGER"></result>
        <result column="email" property="email" jdbcType="VARCHAR"></result>
        <result column="phone" property="phone" jdbcType="VARCHAR"></result>
        <result column="roleId" property="roleId" jdbcType="VARCHAR"></result>
        <result column="deptId" property="deptId" jdbcType="INTEGER"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="createTime" property="createTime" jdbcType="DATETIME"></result>
        <result column="version" property="version" jdbcType="INTEGER"></result>
    </resultMap>

    <resultMap id="userMapSimple" type="com.secondhand.tradingplatformgenerator.example.entity.User">
        <result column="avatar" property="avatar" jdbcType="VARCHAR"></result>
        <result column="account" property="account" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="salt" property="salt" jdbcType="VARCHAR"></result>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="birthday" property="birthday" jdbcType="DATETIME"></result>
        <result column="sex" property="sex" jdbcType="INTEGER"></result>
        <result column="email" property="email" jdbcType="VARCHAR"></result>
        <result column="phone" property="phone" jdbcType="VARCHAR"></result>
        <result column="roleId" property="roleId" jdbcType="VARCHAR"></result>
        <result column="deptId" property="deptId" jdbcType="INTEGER"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="createTime" property="createTime" jdbcType="DATETIME"></result>
        <result column="version" property="version" jdbcType="INTEGER"></result>
    </resultMap>
    <update id="fakeDeleteById">
        UPDATE s_base_user SET deleted = true
        where id = #{userId}
    </update>
    <update id="fakeBatchDelete" parameterType="java.util.List">
        UPDATE s_base_user SET deleted = true
        where id IN
        <foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="selectMapById" resultType="java.util.Map">
        select * from s_base_user
        where id = #{userId}
    </select>

</mapper>
