<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformgenerator.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.secondhand.tradingplatformgenerator.entity.User">
        <id column="id" property="id" />
        <result column="avatar" property="avatar" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="user_name" property="userName" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="roleId" property="roleId" />
        <result column="deptId" property="deptId" />
        <result column="status" property="status" />
        <result column="createTime" property="createTime" />
        <result column="version" property="version" />
        <result column="enable" property="enable" />
        <result column="uuid" property="uuid" />
        <result column="description" property="description" />
        <result column="deleted" property="deleted" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, avatar, account, password, salt, user_name, birthday, sex, email, phone, roleId, deptId, status, createTime, version, enable, uuid, description, deleted, created_by, created_at, updated_by, updated_at
    </sql>

</mapper>
