<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformadminmapper.mapper.admin.system.FormMapper">

    <cache type="com.secondhand.tradingplatformcommon.redisCache.RedisCache"></cache>

		<!-- 通用查询映射结果 -->
			<resultMap id="formMap" type="com.secondhand.tradingplatformadminentity.entity.admin.system.Form" extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">

				<result column="title" property="title" jdbcType="VARCHAR" />
				<result column="collection" property="collection" jdbcType="VARCHAR" />

		</resultMap>

        <!-- 通用查询映射结果 -->
		<resultMap id="formMapSimple" type="com.secondhand.tradingplatformadminentity.entity.admin.system.Form">
																			

                        <result column="title" property="title" jdbcType="VARCHAR" />
                        <result column="collection" property="collection" jdbcType="VARCHAR" />

        </resultMap>

    <select id="selectMapById" resultType="java.util.Map">
        select * from s_base_form where id = #{formId} and deleted = false
    </select>

</mapper>