<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0 user-scalable=no">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>用户列表</title>
    <link rel="icon" th:href="@{/assets/logo.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/plugin/bootstrap-3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/variable.css}">
    <link rel="stylesheet" th:href="@{/plugin/font/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/bootstrap-table.1.11.1/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{/plugin/pnotify/pnotify.css}">
    <link rel="stylesheet" th:href="@{/plugin/pnotify/pnotify.brighttheme.css}">
    <link rel="stylesheet" th:href="@{/plugin/pnotify/pnotify.buttons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/plugin/font/css/font-awesome-ie7.min.css}">
    <![endif]-->
    <!--[if lt IE 9]>
    <script th:src="@{/compatibility/html5shiv.js}"></script>
    <script th:src="@{/compatibility/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<div id="main">
    <div id="data-part" class="clearfix">
        <div id="toolbar" class="btn-toolbar">
            <button type="button" th:each="button:${buttons}" th:onClick="${button['script']}" th:class="${button['className']}">
                <i th:class="${button['icon']}"></i> <span th:text="${button['title']}"></span>
            </button>
        </div>
        <table id="table" data-classes="table table-hover table-responsive table-sm">
            <thead>
            <tr>
                <th data-checkbox="true" data-field="state"></th>
                <th data-title="用户名" data-field="userName" data-align="center"></th>
                <th data-title="账号" data-field="account" data-align="center"></th>
                <th data-title="手机号" data-field="phone" data-align="center"></th>
                <th data-title="邮箱" data-field="email" data-align="center"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="add-user-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title">新增用户</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="menu-form">
                        <div class="form-group">
                            <label for="user-name" class="col-sm-2 control-label"><span style="color:#FF3333;font-size:18px">*</span>用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user-name" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user-account" class="col-sm-2 control-label"><span style="color:#FF3333;font-size:18px">*</span>账号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user-account" placeholder="请输入账号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user-password" class="col-sm-2 control-label"><span style="color:#FF3333;font-size:18px">*</span>密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="user-password" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user-phone" class="col-sm-2 control-label">手机号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user-phone" placeholder="请输入手机号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user-email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="user-email" placeholder="请输入邮箱">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="add-user-btn">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/plugin/jquery-1.10.2.min.js}"></script>
<script th:src="@{/plugin/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/plugin/bootstrap-table.1.11.1/bootstrap-table.min.js}"></script>
<script th:src="@{/plugin/bootstrap-table.1.11.1/locale/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/plugin/bootstrap-datetimepicker/js/moment.js}"></script>
<script th:src="@{/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/plugin/pnotify/pnotify.js}"></script>
<script th:src="@{/plugin/pnotify/pnotify.buttons.js}"></script>
<script th:src="@{/plugin/layer/layer.js}"></script>
<script th:src="@{/js/system/user/tabulation.js}"></script>
</body>
</html>