<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.tradingplatformadminmapper.mapper.admin.business.AnnexMapper">

    <cache type="com.secondhand.tradingplatformcommon.redisCache.RedisCache"></cache>

		<!-- 通用查询映射结果 -->
			<resultMap id="annexMap" type="com.secondhand.tradingplatformadminentity.entity.admin.business.Annex" extends="com.secondhand.tradingplatformadminmapper.mapper.BaseEntityMapper.baseEntityMapper">
									
				<result column="name" property="name" jdbcType="VARCHAR" />
				<result column="type" property="type" jdbcType="VARCHAR" />
				<result column="extension" property="extension" jdbcType="VARCHAR" />
				<result column="size" property="size" jdbcType="FLOAT" />
				<result column="path" property="path" jdbcType="VARCHAR" />
				<result column="md5" property="md5" jdbcType="VARCHAR" />
				<result column="content_type" property="contentType" jdbcType="VARCHAR" />


		</resultMap>

        <!-- 通用查询映射结果 -->
		<resultMap id="annexMapSimple" type="com.secondhand.tradingplatformadminentity.entity.admin.business.Annex">
																			
                        <result column="name" property="name" jdbcType="VARCHAR" />
                        <result column="type" property="type" jdbcType="VARCHAR" />
                        <result column="extension" property="extension" jdbcType="VARCHAR" />
                        <result column="size" property="size" jdbcType="FLOAT" />
                        <result column="path" property="path" jdbcType="VARCHAR" />
                        <result column="md5" property="md5" jdbcType="VARCHAR" />
                        <result column="content_type" property="contentType" jdbcType="VARCHAR" />

        </resultMap>

    <select id="selectMapById" resultType="java.util.Map">
        select * from c_business_annex where id = #{annexId} and deleted = false
    </select>

</mapper>